/* default style for the entry mode */

div.dataplugin_entry dl {
    border: 1px solid __border__;
    padding: 1em;
    margin: 1em;
    font-size: 90%;
    overflow: auto;
    width: 50%;
}

/* DO NOT MESS WITH THIS IT IS IE MAGIC */
* html div.dataplugin_entry dl dd {
    float: none;
    display: block;
}

*:first-child+html div.dataplugin_entry dl dd {
    float: none;
    display: block;
}

*:first-child+html div.dataplugin_entry dt {
    padding-right: 0.5em;
}
/* END OF IE MAGIC */

div.dataplugin_entry dl dt {
    font-weight: bold;
    clear: left;
    float: left;
    width: 10em;
    text-align: right;
}
div.dataplugin_entry dl dd {
    float: left;
    margin-left: 0.5em;
}

/* style to hide the entry data */

div.dataplugin_entry.hidden {
    display: none;
}

/* default styles for the tag cloud */
ul.dataplugin_cloud {
    overflow: auto;
}

ul.dataplugin_cloud li {
    float: left;
    list-style-type: none;
    list-style-image: none;
    margin: 0 1em 0 0;
    padding: 0;
}

ul.dataplugin_cloud li.cl0 { font-size: 70% }
ul.dataplugin_cloud li.cl1 { font-size: 90% }
ul.dataplugin_cloud li.cl2 { font-size: 110% }
ul.dataplugin_cloud li.cl3 { font-size: 130% }
ul.dataplugin_cloud li.cl4 { font-size: 150% }

/* default styles for the related mode */
dl.datarelated {
    margin-left: 1em;
}

dl.datarelated dd {
    margin-left: 1em;
}

dl.datarelated dt {
    font-weight: bold;
}

#dw__editform fieldset.plugin__data table tr td label span {
    display: none;
}

#dw__editform fieldset.plugin__data table tr td label {
    /* This is the anchor for the position: absolute autocompletion */
    display: block;
    position: relative;
}

#dw__editform fieldset.plugin__data {
    text-align: left;
    width: 99%;
}

#dw__editform fieldset.plugin__data table {
    text-align: center;
}

#dw__editform fieldset.plugin__data table td {
    padding: 0 0.3em;
}

#dw__editform fieldset.plugin__data table td select,
#dw__editform fieldset.plugin__data table td input {
    width: 100%;
}

#dw__editform fieldset.plugin__data table .data_comment input {
    border: none;
}

/* the section edit button - yes, it's not the most beautiful CSS you've ever seen */
div.dokuwiki div.editbutton_plugin_data {
    margin-top: -1em; /* depends on the dl margin */
}

div.dokuwiki div.editbutton_plugin_data form input.button {
    float: none;
    margin-left: 1.6em;
    padding: 0 0.3em;
    background-image: none;
    border-top: none;
}

table.dataplugin_table th input {
    width: 98%;
}
